In [252]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost.sklearn import XGBClassifier
from lightgbm.sklearn import LGBMClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [253]:
train_data = pd.read_csv('./train.csv') #导出训练集数据
train_data.head()

,user_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,...,3,80,1,29,2,2,1,0,0,0
1,1092,45,No,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,...,4,80,1,8,3,3,5,4,0,3
2,768,40,No,Travel_Rarely,300,Sales,26,3,Marketing,1,...,2,80,1,8,3,2,7,7,7,5
3,569,36,No,Non-Travel,1434,Sales,8,4,Life Sciences,1,...,2,80,0,10,1,3,10,7,0,9
4,911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,...,4,80,0,1,4,3,1,0,1,0

In [254]:
test_data = pd.read_csv('./test.csv') #导出测试集数据
test_data.head()

,user_id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,442,36,Non-Travel,635,Sales,10,4,Medical,1,592,...,4,80,0,10,3,2,10,3,9,7
1,1091,33,Travel_Rarely,575,Research & Development,25,3,Life Sciences,1,1545,...,4,80,0,5,2,3,5,3,0,2
2,981,35,Travel_Frequently,662,Sales,18,4,Marketing,1,1380,...,3,80,1,5,0,2,4,2,3,2
3,785,40,Travel_Rarely,1492,Research & Development,20,4,Technical Degree,1,1092,...,4,80,1,14,6,3,11,10,11,1
4,1332,29,Travel_Frequently,459,Research & Development,24,2,Life Sciences,1,1868,...,2,80,0,1,3,2,1,0,1,0

In [255]:
train_data.isnull().sum() #检查训练集是否存在空值

user_id                     0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [256]:
test_data.isnull().sum() #检查测试集是否存在空值

user_id                     0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [257]:
#去除‘id’，‘StandardHours’,'EmployeeNumber'这些对结果影响不大的特征
train_data = train_data.drop(columns = ['user_id','StandardHours','EmployeeNumber'])
test_data = test_data.drop(columns = ['user_id','StandardHours','EmployeeNumber'])

In [258]:
#利用Label_encoder将data中文本特征转化成编号，便于计算机理解
le = LabelEncoder()
feature_categories = ['Department','EducationField','Gender','JobRole','MaritalStatus','OverTime','BusinessTravel','Over18']
for i in feature_categories:
    train_data[i] = le.fit_transform(train_data[i])
    #如果在训练集进行了fit_transform，那么在测试集就不许进行fit;如果对测试集进行了fit，训练集和测试集的le标准就不一样了
    test_data[i] = le.transform(test_data[i])

In [259]:
train_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,58,No,2,605,2,21,3,1,1,4,...,3,3,1,29,2,2,1,0,0,0
1,45,No,2,950,1,28,3,5,1,4,...,4,4,1,8,3,3,5,4,0,3
2,40,No,2,300,2,26,3,2,1,3,...,3,2,1,8,3,2,7,7,7,5
3,36,No,0,1434,2,8,4,1,1,1,...,3,2,0,10,1,3,10,7,0,9
4,25,Yes,1,599,2,24,1,1,1,3,...,3,4,0,1,4,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,34,No,2,1333,2,10,4,1,1,3,...,3,4,1,1,2,3,1,1,0,0
1172,35,No,2,528,0,8,4,5,1,3,...,3,2,0,6,2,1,5,4,1,4
1173,43,No,2,1179,2,2,3,3,1,4,...,3,1,1,10,3,3,10,9,8,8
1174,38,No,2,268,1,2,5,3,1,4,...,3,2,1,6,0,1,1,0,0,1
1175,40,No,2,658,2,10,4,2,1,1,...,3,2,1,11,2,2,1,0,0,0

In [260]:
#将data中的'Attrition'作为标签单独提取出来
train_data_label = train_data['Attrition']
train_data = train_data.drop(columns = ['Attrition'])

In [261]:
#将数据做标准化处理
stander = StandardScaler()
train_data = stander.fit_transform(train_data)
train_data

array([[ 2.3389367 ,  0.595307  , -0.48557354, ..., -1.15684058,
        -0.67381506, -1.15043886],
       [ 0.9043263 ,  0.595307  ,  0.36465323, ..., -0.05481991,
        -0.67381506, -0.3083749 ],
       [ 0.35255307,  0.595307  , -1.23722329, ...,  0.7716956 ,
         1.50912298,  0.25300108],
       ...,
       [ 0.68361701,  0.595307  ,  0.92900666, ...,  1.32270594,
         1.82097127,  1.09506504],
       [ 0.13184377,  0.595307  , -1.31608491, ..., -1.15684058,
        -0.67381506, -0.86975087],
       [ 0.35255307,  0.595307  , -0.35495899, ..., -1.15684058,
        -0.67381506, -1.15043886]])

In [262]:
#将文本类型的标签进行数值转换
train_data_label = train_data_label.apply(lambda x:1 if x=='Yes' else 0)

In [263]:
#划分训练集和验证集
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val = train_test_split(train_data,train_data_label,test_size = 0.3,random_state = 2021)

In [264]:
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

In [265]:
#将逻辑回归作为第一个分类器
clf_1 = LogisticRegression(max_iter = 100,verbose = True,random_state=2021,tol = 1e-4)
#利用训练集训练分类器
clf_1.fit(X_train,y_train)
clf_1_y_pred = clf_1.predict(X_val)
clf_1_train_score = clf_1.score(X_train,y_train)
clf_1_val_score = clf_1.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_1_y_pred)
auc_score_clf_1 = auc(fpr,tpr)
print(f'训练集分数为{clf_1_train_score}')
print(f'测试集分数为{clf_1_val_score}')
print(f'AUC分数为{auc_score_clf_1}')

训练集分数为0.8797083839611178
测试集分数为0.8498583569405099
AUC分数为0.5848993288590604

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

In [266]:
#将SVC作为第二个分类器
clf_2 = SVC(probability=True)
#利用训练集训练分类器
clf_2.fit(X_train,y_train)
clf_2_y_pred = clf_2.predict(X_val)
clf_2_train_score = clf_2.score(X_train,y_train)
clf_2_val_score = clf_2.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_2_y_pred)
auc_score_clf_2 = auc(fpr,tpr)
print(f'训练集分数为{clf_2_train_score}')
print(f'测试集分数为{clf_2_val_score}')
print(f'AUC分数为{auc_score_clf_2}')

训练集分数为0.9088699878493317
测试集分数为0.8583569405099151
AUC分数为0.5454545454545454

In [267]:
#将LinearSVC作为第三个分类器
clf_3 = LinearSVC()
#利用训练集训练分类器
clf_3.fit(X_train,y_train)
clf_3_y_pred = clf_3.predict(X_val)
clf_3_train_score = clf_3.score(X_train,y_train)
clf_3_val_score = clf_3.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_3_y_pred)
auc_score_clf_3 = auc(fpr,tpr)
print(f'训练集分数为{clf_3_train_score}')
print(f'测试集分数为{clf_3_val_score}')
print(f'AUC分数为{auc_score_clf_3}')

训练集分数为0.8809234507897934
测试集分数为0.8385269121813032
AUC分数为0.548535692495424

D:\Anaconda\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [268]:
#将KNeighborsClassifier作为第四个分类器
clf_4 = KNeighborsClassifier()
#利用训练集训练分类器
clf_4.fit(X_train,y_train)
clf_4_y_pred = clf_4.predict(X_val)
clf_4_train_score = clf_4.score(X_train,y_train)
clf_4_val_score = clf_4.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_4_y_pred)
auc_score_clf_4 = auc(fpr,tpr)
print(f'训练集分数为{clf_4_train_score}')
print(f'测试集分数为{clf_4_val_score}')
print(f'AUC分数为{auc_score_clf_4}')

训练集分数为0.8675577156743621
测试集分数为0.8413597733711048
AUC分数为0.5131482611348382

In [272]:
#将XGBoost作为第五个分类器
clf_5 = XGBClassifier(max_depth=6, learning_rate=0.05, n_estimators=2000, 
            objective='binary:logistic', 
            subsample=0.8, colsample_bytree=0.8, 
            min_child_samples=3, eval_metric='auc', reg_lambda=0.5

)
#利用训练集训练分类器
clf_5.fit(X_train,y_train)
clf_5_y_pred = clf_5.predict(X_val)
clf_5_train_score = clf_5.score(X_train,y_train)
clf_5_val_score = clf_5.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_5_y_pred)
auc_score_clf_5 = auc(fpr,tpr)
print(f'训练集分数为{clf_5_train_score}')
print(f'测试集分数为{clf_5_val_score}')
print(f'AUC分数为{auc_score_clf_5}')

[16:29:19] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { min_child_samples } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


训练集分数为1.0
测试集分数为0.8810198300283286
AUC分数为0.6626601586333131

In [273]:
#将lGBM作为第六个分类器
clf_6 = LGBMClassifier(num_leaves=2**5-1, reg_alpha=0.25, reg_lambda=0.25, objective='binary',
            max_depth=-1, learning_rate=0.005, min_child_samples=3, random_state=2021,
            n_estimators=2000, subsample=1, colsample_bytree=1,

)
#利用训练集训练分类器
clf_6.fit(X_train,y_train)
clf_6_y_pred = clf_6.predict(X_val)
clf_6_train_score = clf_6.score(X_train,y_train)
clf_6_val_score = clf_6.score(X_val,y_val)
fpr, tpr, thresholds = roc_curve(y_val, clf_6_y_pred)
auc_score_clf_6 = auc(fpr,tpr)
print(f'训练集分数为{clf_6_train_score}')
print(f'测试集分数为{clf_6_val_score}')
print(f'AUC分数为{auc_score_clf_6}')

训练集分数为1.0
测试集分数为0.8668555240793201
AUC分数为0.6172056131787674

In [243]:
#将测试集数据做标准化化处理
stander = StandardScaler()
test_data = stander.fit_transform(test_data)
test_data

array([[-0.14880903, -2.62109326, -0.43010976, ..., -0.37634728,
         2.0457762 ,  0.77575812],
       [-0.46815103,  0.56980288, -0.58254453, ..., -0.37634728,
        -0.70060829, -0.62003678],
       [-0.25525636, -1.02564519, -0.36151411, ..., -0.65505282,
         0.21485321, -0.62003678],
       ...,
       [-0.68104569,  0.56980288, -1.41077348, ...,  0.73847488,
         1.43546854,  0.77575812],
       [ 0.06408564,  0.56980288,  1.16029307, ..., -1.2124639 ,
        -0.70060829, -1.17835474],
       [ 0.27698031,  0.56980288, -1.10590393, ..., -1.2124639 ,
        -0.70060829, -1.17835474]])

In [244]:
#在测试集用SVC做预测，输出预测的概率
predict_2 = clf_2.predict_proba(test_data)[:,1]
print(predict_2)

[0.2131545  0.23006116 0.31595479 0.1217415  0.74567822 0.19120611
 0.36106101 0.08317021 0.07605271 0.29297368 0.07281704 0.40766655
 0.06129756 0.78970604 0.08384897 0.04697049 0.06027138 0.17213624
 0.06061545 0.12615636 0.36572112 0.14692551 0.03533086 0.03725799
 0.48101119 0.29145645 0.05977086 0.0464426  0.5544433  0.03842807
 0.0754571  0.07846849 0.07654457 0.14450247 0.05730396 0.03526298
 0.1262625  0.10455029 0.05773988 0.05056323 0.24371286 0.02706923
 0.06107766 0.13480499 0.05194501 0.62968839 0.30226884 0.04219584
 0.88889059 0.19699408 0.1572401  0.3089518  0.18213181 0.11153079
 0.75349808 0.1928475  0.06113235 0.22854475 0.1142617  0.20153108
 0.03707989 0.17027934 0.12411224 0.06873168 0.3110464  0.030866
 0.18461622 0.09012426 0.10330127 0.14690663 0.12611582 0.21451607
 0.05556244 0.05919881 0.08045687 0.09278171 0.10076361 0.04873993
 0.2196715  0.05135668 0.04938244 0.0797347  0.19042057 0.13469785
 0.10067119 0.08328402 0.20905943 0.1263189  0.09098777 0.09901014
 0.34025988 0.0802161  0.19317551 0.13184916 0.04207678 0.36584756
 0.2670952  0.40371252 0.06163616 0.02942152 0.14380533 0.34387363
 0.34219106 0.03976538 0.11532948 0.05077874 0.09682244 0.19232581
 0.09756954 0.17172449 0.11945383 0.08440047 0.0271446  0.14731769
 0.03764884 0.05173982 0.0617983  0.02420201 0.1011531  0.02569706
 0.13257665 0.04912805 0.03388314 0.67498509 0.10895273 0.16154517
 0.01775276 0.10563933 0.10527569 0.05997134 0.07031988 0.19981447
 0.27889805 0.27113733 0.074485   0.17782602 0.7635456  0.12324482
 0.10258931 0.09300287 0.0626489  0.03254327 0.06718356 0.04147064
 0.08864019 0.08228196 0.25946073 0.15807887 0.07009073 0.14014276
 0.05027377 0.19642588 0.04475294 0.22900543 0.15013474 0.05040999
 0.11055324 0.06128533 0.08933845 0.0397219  0.43242883 0.0721084
 0.14065509 0.74844611 0.07322224 0.1934081  0.22782533 0.06400189
 0.04966843 0.06818628 0.05254069 0.10565448 0.04208386 0.09562416
 0.13198122 0.20911342 0.09007526 0.17235999 0.1867934  0.13336803
 0.02142523 0.04941027 0.07007826 0.81144245 0.02766255 0.05532765
 0.41280027 0.09281081 0.69230495 0.17352392 0.62673244 0.15391286
 0.09963148 0.02269299 0.06412495 0.16190548 0.11205043 0.04408671
 0.13831404 0.06770536 0.15671822 0.20305222 0.68787175 0.07005628
 0.11311923 0.03400411 0.44170495 0.06677861 0.10848515 0.02480291
 0.04962686 0.11862933 0.03111035 0.25108188 0.08849956 0.00797524
 0.16157018 0.07695127 0.13763369 0.27556282 0.18512334 0.21706421
 0.78905776 0.24961092 0.31801368 0.03064049 0.03943502 0.1678664
 0.33486955 0.10718597 0.09238084 0.07721081 0.04093868 0.02975829
 0.10592098 0.12989976 0.19620034 0.01520819 0.08752873 0.08318381
 0.07227396 0.16074211 0.12230814 0.10984373 0.13701391 0.10886098
 0.13584775 0.20651971 0.11109194 0.10991576 0.35097392 0.14633687
 0.60482489 0.10495121 0.13481814 0.13357465 0.09338462 0.44536402
 0.17802737 0.31901299 0.12065521 0.08567251 0.17961518 0.05942406
 0.05702809 0.07755384 0.03443285 0.11495931 0.30912735 0.03361992
 0.11303182 0.03152864 0.16234624 0.06238852 0.01899209 0.03073149
 0.07619348 0.13542258 0.10635188 0.06541238 0.20871645 0.0445655
 0.20923464 0.18186273 0.16863416 0.0831316  0.04360287 0.1591346
 0.11796324 0.03947045 0.13570118 0.81868554 0.02843667 0.14089342]

In [158]:
#将SVC预测的结果导出CSV格式
test_pred = pd.DataFrame(predict_2,columns = ['Attrition'])
test_pred.to_csv('./test_pred.csv')

In [221]:
#在测试集用Logictic Regression做预测，输出预测的概率
predict_1 = clf_1.predict_proba(test_data)[:,1]
print(predict_1)

[0.00000000e+000 1.00000000e+000 1.00000000e+000 4.02308969e-285
 1.00000000e+000 1.00000000e+000 6.08971743e-284 7.31919842e-280
 1.00000000e+000 0.00000000e+000 0.00000000e+000 1.00000000e+000
 4.67989366e-165 6.27975185e-159 0.00000000e+000 1.08980628e-105
 5.39401816e-097 3.43682225e-147 0.00000000e+000 1.00000000e+000
 4.01776418e-075 0.00000000e+000 6.56364796e-288 1.00000000e+000
 1.00000000e+000 1.00000000e+000 1.00000000e+000 0.00000000e+000
 1.00000000e+000 2.71990257e-285 0.00000000e+000 0.00000000e+000
 0.00000000e+000 0.00000000e+000 1.42998422e-133 0.00000000e+000
 0.00000000e+000 1.00000000e+000 0.00000000e+000 2.23715267e-194
 2.45102271e-238 4.10488636e-215 0.00000000e+000 0.00000000e+000
 0.00000000e+000 1.00000000e+000 1.00000000e+000 0.00000000e+000
 1.74411947e-025 2.55615696e-208 0.00000000e+000 1.00000000e+000
 2.79311465e-091 0.00000000e+000 1.00000000e+000 0.00000000e+000
 5.68561946e-289 1.00000000e+000 1.00000000e+000 2.55779780e-222
 3.21411267e-233 0.00000000e+000 1.00000000e+000 1.00000000e+000
 0.00000000e+000 0.00000000e+000 1.00000000e+000 0.00000000e+000
 7.30496924e-072 3.56925773e-277 0.00000000e+000 1.00000000e+000
 1.00000000e+000 1.00000000e+000 0.00000000e+000 4.95280692e-145
 1.00000000e+000 0.00000000e+000 1.00000000e+000 0.00000000e+000
 0.00000000e+000 1.45351822e-014 1.00000000e+000 1.00000000e+000
 3.19220205e-213 7.77140653e-237 0.00000000e+000 1.00000000e+000
 1.00000000e+000 0.00000000e+000 1.00000000e+000 6.05684110e-078
 6.53121740e-161 1.00000000e+000 1.80192564e-293 1.00000000e+000
 1.00000000e+000 2.72177640e-071 1.00000000e+000 9.99999993e-001
 1.10302999e-155 0.00000000e+000 0.00000000e+000 3.11120996e-103
 7.41192035e-151 4.40071796e-118 0.00000000e+000 3.15528405e-299
 1.00000000e+000 1.72443049e-253 0.00000000e+000 0.00000000e+000
 0.00000000e+000 2.30494968e-054 1.00000000e+000 1.00000000e+000
 1.18459220e-240 0.00000000e+000 0.00000000e+000 1.00000000e+000
 9.03426764e-131 1.00000000e+000 0.00000000e+000 1.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 1.00000000e+000
 2.64060708e-252 1.00000000e+000 1.14628839e-128 1.00000000e+000
 1.00000000e+000 6.57425273e-236 0.00000000e+000 0.00000000e+000
 0.00000000e+000 1.00000000e+000 0.00000000e+000 8.27921138e-054
 1.00000000e+000 2.02027947e-294 0.00000000e+000 0.00000000e+000
 0.00000000e+000 2.93526995e-023 0.00000000e+000 0.00000000e+000
 1.00000000e+000 0.00000000e+000 0.00000000e+000 1.00000000e+000
 0.00000000e+000 1.00000000e+000 1.00000000e+000 0.00000000e+000
 0.00000000e+000 0.00000000e+000 7.00427352e-065 1.00000000e+000
 1.17611657e-042 1.00000000e+000 0.00000000e+000 1.00000000e+000
 1.00000000e+000 0.00000000e+000 0.00000000e+000 1.00000000e+000
 5.53673374e-028 2.24039078e-144 0.00000000e+000 1.00000000e+000
 4.97785693e-081 0.00000000e+000 3.08296320e-147 0.00000000e+000
 0.00000000e+000 9.99946969e-001 0.00000000e+000 0.00000000e+000
 1.00000000e+000 2.86456127e-108 1.14069673e-255 1.00000000e+000
 3.10312712e-133 1.00000000e+000 8.71292949e-147 1.00000000e+000
 1.00000000e+000 1.00000000e+000 1.00000000e+000 1.00000000e+000
 1.87952954e-043 0.00000000e+000 1.00000000e+000 9.76265809e-113
 1.00000000e+000 1.00000000e+000 1.00000000e+000 1.98171902e-112
 1.00000000e+000 1.00000000e+000 1.00000000e+000 0.00000000e+000
 0.00000000e+000 0.00000000e+000 1.00000000e+000 1.00000000e+000
 9.71938957e-041 1.00000000e+000 1.00000000e+000 0.00000000e+000
 0.00000000e+000 4.21320917e-273 0.00000000e+000 1.00000000e+000
 3.80966245e-052 1.00000000e+000 1.00000000e+000 0.00000000e+000
 1.00000000e+000 1.00000000e+000 1.00000000e+000 3.32000388e-251
 1.00000000e+000 4.06831749e-112 0.00000000e+000 0.00000000e+000
 3.95745039e-118 0.00000000e+000 4.20441369e-146 1.00000000e+000
 1.00000000e+000 1.00000000e+000 1.00000000e+000 0.00000000e+000
 1.00000000e+000 1.00000000e+000 0.00000000e+000 2.41860245e-093
 1.81668544e-105 0.00000000e+000 0.00000000e+000 6.64519057e-052
 5.66468137e-045 1.00000000e+000 9.66300451e-001 0.00000000e+000
 1.00000000e+000 0.00000000e+000 1.33975605e-255 1.00000000e+000
 0.00000000e+000 1.00000000e+000 1.00000000e+000 3.36909881e-174
 0.00000000e+000 0.00000000e+000 1.00000000e+000 3.55735765e-214
 8.71492736e-256 1.00000000e+000 0.00000000e+000 1.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 4.49172762e-131 6.99545292e-254 1.00000000e+000 1.19651718e-262
 0.00000000e+000 1.99261351e-005 1.00000000e+000 1.00000000e+000
 2.65546654e-204 4.44675525e-121 5.61225509e-073 0.00000000e+000
 0.00000000e+000 7.80197564e-228 1.00000000e+000 1.00000000e+000
 0.00000000e+000 0.00000000e+000 1.00000000e+000 1.00000000e+000
 0.00000000e+000 0.00000000e+000]

In [211]:
#将Logistic Regression预测的结果导出CSV格式
test_pred_lr = pd.DataFrame(predict_1,columns = ['Attrition'])
test_pred_lr.to_csv('./test_pred_lr.csv')

In [245]:
#在测试集用XGB做预测，输出预测的概率
predict_5 = clf_5.predict_proba(test_data)[:,1]
print(predict_5)
# res = clf_5.predict(test_data)
# print(res)

[4.18214910e-02 3.89018038e-04 2.32681304e-01 2.04823483e-02
 9.65336144e-01 1.74189180e-01 1.31307930e-01 1.18073057e-02
 8.10163037e-04 8.05970374e-03 6.36781449e-04 1.17155248e-02
 1.40210171e-03 9.49957669e-01 7.25080958e-03 8.53640886e-05
 1.11802295e-02 1.51277738e-04 6.39563194e-03 4.76558656e-02
 2.14357063e-01 2.26026541e-03 2.11656574e-04 2.70938559e-04
 1.85569003e-01 3.77149917e-02 5.44075330e-04 6.67338958e-04
 9.80716288e-01 2.63154507e-04 1.58261554e-03 6.49965776e-04
 1.20029114e-01 2.78437901e-02 1.79994022e-04 4.10430226e-03
 1.86769906e-02 7.69690785e-04 4.52056061e-03 3.07645486e-03
 1.54135935e-03 2.06536800e-03 1.32816684e-04 3.27868224e-03
 3.48662101e-02 9.70043242e-01 2.52769664e-02 6.57006021e-05
 9.43472862e-01 1.57398030e-01 1.01594552e-01 9.27865803e-02
 2.65402850e-02 2.44393549e-03 7.61493683e-01 6.53873198e-04
 8.72326491e-05 3.91023559e-03 5.16806867e-05 2.07242101e-01
 5.85816277e-04 7.87649155e-02 2.77941639e-04 1.06620567e-03
 4.06154186e-01 1.28773286e-03 1.67010783e-03 4.96230321e-04
 1.10115126e-01 1.90439988e-02 6.90269051e-03 1.31379858e-01
 1.52313048e-02 5.96682716e-04 9.67870408e-04 1.24817630e-02
 8.25536903e-03 1.16963219e-03 5.85739203e-02 3.74380616e-05
 5.91583121e-05 9.10012459e-05 2.70361267e-03 7.03230966e-03
 1.35095161e-03 1.06830830e-02 4.42351820e-03 8.27213749e-03
 3.68057331e-03 4.26181685e-03 8.93930316e-01 8.99790553e-04
 3.48754711e-02 1.88708112e-01 1.26219355e-03 1.53146647e-02
 6.69525098e-03 3.91075194e-01 8.21876747e-04 4.18411708e-03
 6.80957288e-02 2.63820346e-02 6.81633592e-01 9.05611552e-03
 8.43956543e-04 3.19014682e-04 1.35645851e-01 4.75141495e-01
 1.11965826e-02 3.07121407e-02 3.96333158e-01 5.67361899e-03
 5.84708105e-05 1.63144581e-02 8.71775299e-03 4.56620893e-03
 6.16704987e-04 1.92291860e-04 8.82488152e-04 1.36475792e-05
 6.97716547e-04 8.26857751e-04 2.83370930e-04 9.59513783e-01
 2.09723249e-01 1.44989742e-02 1.38331496e-04 3.36603005e-03
 6.50399327e-02 5.26301214e-04 3.65992775e-04 1.18933385e-02
 2.96762437e-01 2.68608034e-01 2.42130528e-03 2.06274446e-03
 5.23086071e-01 8.12116787e-02 3.91435102e-02 3.19649436e-04
 2.69401819e-04 3.96318873e-03 2.43585324e-03 2.77085626e-03
 1.02385141e-01 1.28167905e-02 6.55461336e-03 1.00509543e-03
 4.21217829e-03 2.03775242e-02 5.18073747e-03 3.66443172e-02
 8.16500396e-04 6.94759339e-02 2.34218091e-02 3.00377607e-03
 5.00069000e-03 5.81165813e-02 1.55843585e-03 9.58252524e-04
 2.79869556e-01 7.25400168e-05 7.70941656e-03 9.96900678e-01
 7.50993146e-04 2.52610166e-02 8.44919831e-02 6.72798022e-04
 2.01922958e-05 8.99981969e-05 5.35784243e-03 2.08152318e-03
 1.44085439e-03 4.75783832e-02 1.85151046e-04 3.34796426e-03
 7.13511696e-03 1.67637467e-01 1.38968816e-02 4.18523252e-02
 7.49324245e-05 1.31374376e-03 6.03595072e-05 9.93438184e-01
 5.30227437e-04 8.96401121e-04 7.85866678e-01 5.24342875e-04
 1.98154729e-02 5.15486719e-03 1.18161201e-01 6.05257414e-02
 1.11279413e-02 7.12962446e-06 1.64439238e-03 4.49962653e-02
 1.64400809e-03 8.36768374e-03 2.00540513e-01 4.70501408e-02
 2.84681488e-02 4.36667688e-02 4.75864083e-01 2.03779709e-04
 6.73251646e-03 7.91423395e-03 7.54243210e-02 3.08926537e-04
 4.78655174e-02 1.60024420e-03 7.26865605e-04 2.28428701e-03
 3.28200222e-05 2.89183825e-01 1.21922011e-03 2.10962287e-04
 2.63998238e-03 9.46783498e-02 1.04985514e-03 4.78919864e-01
 1.40396068e-02 4.01880741e-01 1.07969604e-01 1.02077045e-01
 8.45269021e-03 2.83135450e-04 2.21469044e-03 2.53719896e-01
 9.10881042e-01 1.48167133e-01 1.23440826e-04 5.73613122e-03
 3.61472194e-04 4.52641107e-04 2.44915806e-04 4.37236726e-01
 1.80100769e-01 4.13205180e-06 9.69790202e-03 1.81388087e-03
 4.27487493e-02 1.63525715e-03 8.51712422e-04 5.56110730e-03
 3.43880802e-03 2.57622683e-03 5.91833051e-03 7.75775407e-03
 1.79206505e-02 1.55106001e-02 1.64795946e-02 2.37798523e-02
 2.24319041e-01 7.94489635e-04 3.89201008e-03 6.34519234e-02
 8.98494793e-04 8.61495554e-01 4.83065657e-02 4.26279962e-01
 1.66525573e-01 4.90628881e-04 2.13431427e-03 1.32235251e-02
 8.16086307e-03 2.37244487e-01 5.15882166e-05 3.54253836e-02
 1.32101225e-02 4.99042450e-04 1.23451091e-03 8.06472308e-05
 1.73908856e-03 1.55396415e-02 1.30097706e-05 1.31668628e-03
 3.87454219e-03 1.41309081e-02 8.58688429e-02 4.29957658e-02
 2.57550087e-02 2.12881900e-03 4.44891043e-02 7.47054815e-04
 1.07658887e-02 4.22899553e-04 5.22836626e-06 6.13400266e-02
 2.71666475e-04 2.42988535e-04 4.60063748e-04 9.28825065e-02
 4.06951964e-04 1.87573011e-03]
[0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [249]:
#将XGB预测的结果导出CSV格式
test_pred_XGB = pd.DataFrame(predict_5,columns = ['Attrition'])
test_pred_XGB.to_csv('./test_pred_XGB.csv')

In [250]:
#在测试集用LGB做预测，输出预测的概率
predict_6 = clf_6.predict_proba(test_data)[:,1]
print(predict_6)

[1.19099826e-02 6.07944970e-03 6.27736888e-02 9.35751444e-02
 8.09072314e-01 3.15830642e-01 9.74311390e-02 1.63859780e-02
 1.04989486e-02 1.20298496e-02 8.15151377e-03 2.99473019e-02
 8.59116359e-03 9.26728783e-01 2.19623082e-02 6.36893948e-04
 3.46103577e-03 3.69317688e-03 6.72452774e-03 4.77236291e-02
 6.89612678e-01 1.75451992e-02 5.60937321e-03 1.51507233e-03
 1.86145889e-01 2.79921653e-01 6.98405658e-03 9.90193896e-04
 9.24342512e-01 3.35725161e-03 4.88271387e-03 3.62795872e-03
 1.88223987e-01 3.40379144e-03 4.07203397e-03 1.83700600e-02
 3.38208789e-02 8.00764805e-03 7.54163121e-03 1.28189421e-02
 1.55059612e-02 5.90089067e-03 1.42166666e-03 8.09266783e-02
 4.71224076e-02 9.22223128e-01 1.03372584e-01 4.46682596e-03
 8.82609387e-01 6.95254561e-01 1.88415131e-01 3.07135465e-01
 4.59728873e-02 1.00225689e-02 2.98633812e-01 5.67516371e-03
 2.00392521e-03 1.52036757e-02 1.70857257e-03 7.88531180e-01
 1.71044133e-03 6.85948777e-02 6.06801161e-03 1.07547760e-02
 1.62916049e-01 1.38515696e-02 2.02774663e-02 1.17750686e-02
 1.12614696e-01 5.42269634e-02 1.50692451e-02 5.32609869e-01
 2.48197818e-02 1.73021153e-03 1.29075617e-02 2.36372362e-02
 1.78888061e-02 2.68196876e-02 5.15847185e-02 1.28359792e-03
 1.13020617e-03 1.38856413e-03 1.12216011e-02 2.15076782e-02
 3.47824420e-02 9.70308264e-03 9.75061650e-03 4.43880783e-02
 1.13475700e-02 7.22797227e-03 8.24762258e-01 5.98502720e-03
 1.86426418e-02 2.25648313e-01 4.71119189e-03 1.08898864e-02
 2.70810854e-02 2.23210935e-01 4.12857224e-03 6.08375060e-03
 8.42341922e-02 1.57657512e-02 7.07411622e-01 4.24551020e-02
 1.23837983e-02 1.63639420e-02 2.84706737e-02 3.69339585e-01
 1.83310851e-02 2.63299821e-02 2.08428584e-01 6.58240036e-02
 2.81711047e-03 4.76992161e-02 3.63993971e-02 6.24228255e-03
 7.93236086e-03 3.61858687e-03 2.29359140e-03 6.51591822e-04
 7.74350802e-03 3.29296266e-03 1.16919733e-02 9.56428696e-01
 2.23207684e-01 9.63502201e-03 1.56780464e-03 3.76744778e-02
 5.31909793e-02 2.13031864e-03 2.78474936e-03 7.20453841e-02
 8.85926374e-02 1.14909267e-01 1.50949036e-02 3.29114515e-01
 3.23364325e-01 2.06517318e-02 4.21653587e-02 2.91428591e-03
 2.96697744e-03 1.37184598e-02 3.38203992e-02 1.25843212e-02
 1.87319405e-01 9.36163270e-03 7.04041154e-03 9.99084500e-03
 4.35196808e-03 7.32270973e-03 1.74768562e-02 6.45142055e-02
 5.10998878e-03 9.55709575e-02 1.35480741e-02 8.91342541e-03
 1.15900185e-02 3.46806083e-02 9.70564246e-03 3.95342339e-02
 2.51866877e-01 2.55042001e-03 6.03505212e-02 9.61752198e-01
 1.51897316e-02 2.63881382e-01 1.22164010e-01 8.75832361e-03
 9.93109215e-04 7.67100748e-03 4.84275249e-03 6.43982835e-03
 9.74687248e-03 4.32057227e-02 1.16624765e-02 2.41481421e-02
 2.36826141e-02 2.58154513e-01 2.02968783e-02 1.42883714e-02
 9.15836264e-04 4.93441813e-03 3.68299125e-03 9.02242866e-01
 3.05316962e-03 6.62216793e-03 3.45936583e-01 3.24881103e-03
 3.26616306e-02 1.11609454e-01 2.44738901e-01 2.70245707e-01
 7.56791692e-02 5.02140687e-04 3.71900747e-03 3.70146150e-02
 8.46484139e-03 5.60530668e-02 3.14616509e-01 1.01345582e-02
 1.59587022e-01 1.98074117e-02 1.15082864e-01 6.85732006e-03
 5.72655621e-02 1.67338843e-02 2.06865255e-01 3.07472902e-03
 5.34780915e-02 2.46615404e-03 4.10027175e-02 1.09697222e-02
 2.78031541e-03 8.48085638e-02 4.24453505e-03 3.75914594e-03
 6.76564697e-03 5.16257136e-01 1.08640501e-02 6.58356914e-01
 1.54037489e-02 1.43404183e-01 5.36940128e-01 5.67331375e-02
 1.81921306e-02 3.43377195e-03 4.54105159e-03 2.88167819e-01
 7.06590127e-01 5.00948724e-02 1.69459341e-03 7.24304379e-02
 4.83400768e-03 1.07119471e-02 2.60760985e-03 1.71381673e-01
 9.38706207e-02 6.43351594e-04 1.75204400e-02 6.76079876e-03
 4.46501619e-02 1.30927710e-02 3.83629727e-03 1.97601906e-02
 1.41072689e-02 1.50931775e-02 1.03908340e-02 5.79629855e-02
 1.64745315e-02 4.34712475e-02 1.70072488e-02 1.21915528e-01
 3.80074853e-01 1.44333227e-02 4.00926322e-02 5.78784673e-02
 4.70401798e-03 7.41424109e-01 1.62610172e-01 2.36370832e-01
 3.04680614e-01 7.49477751e-03 8.19265321e-03 1.32841269e-02
 3.45299643e-02 6.47233124e-02 2.79141051e-03 5.14962789e-01
 4.29751310e-03 6.03639346e-03 4.93115547e-02 2.81054311e-03
 1.09563677e-02 1.74463011e-02 3.77490833e-04 3.76650508e-03
 1.38916744e-02 1.00851806e-01 8.28794073e-02 1.14389478e-01
 7.99452187e-02 3.30963635e-02 2.96480302e-02 3.04968749e-03
 1.12678812e-01 4.19267720e-02 4.17346573e-04 3.31895837e-02
 7.37559868e-03 2.15130211e-03 4.68400825e-03 6.86779037e-02
 2.81506275e-03 4.20671062e-03]

In [251]:
#将LGB预测的结果导出CSV格式
test_pred_LGB = pd.DataFrame(predict_6,columns = ['Attrition'])
test_pred_LGB.to_csv('./test_pred_LGB.csv')